<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link href="/style.css" rel="stylesheet">
    <!-- <script src="script.js" defer></script> -->
</head>

<body>
    <header>
        <h1>Vietnamese Text OCR And Keywords Extractor</h1>
    </header>

    <main>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <button type="submit">Convert</button>
        </form>
        
        <div id="outputHolder">
            <h2>Extracted Text</h2>
            <p><%= output %></p>
            <h2 id="keywordsText">Keywords (separated by space)</h2>
            <p><%= keywords %></p>
        </div>
    </main>
</body>

</html>